#.gitignore
.metadata/
.recommenders/
*.class
*_bak/
*_old/
*.zip
*.xml
*.ini
*.log
DBConfig.xml
DBConfig.ini

CodeSnippetApp/
Demo/
HelloWorldFx/
com.sample.e4.rcp/
com.test.e4.rcp/
jre6/
Derby/
docs/
build/
libs/source/
*.delete/
